@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body:
:root {
  height: 100%;
}

* {
  background-color: #f0f0f0;
}

.python {
  background-color: #ffee58;
}

.javascript {
  background-color: #fff59d;
}

.travel {
  background-color: #66d3fa;
}

.coding {
  background-color: #6fd25a;
}

.projects {
  background-color: #da70d6;
}

.laptop {
  background-color: #bdbdbd;
}

.experience {
  background-color: #dd99cc;
}
